body {
     font-family: 'Work Sans', sans-serif;
}

.container {
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.glavni_logo {
    background-color: none;
    color: white;
    height: 50px;
    text-align: center;
}

.logo {
    width: 150px;
    height: 50px;
}

.natpis {
    background-color: none;
    text-align: center;
    color: #3c4043;
}

.natpis2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.natpis3 {
    font-size: 15px;
    margin-top: 5px;
}

.login {
    background-color: #f2f2f2;
    text-align: center;
    width: 250px;
    height: 250px;
    margin-left: 60px;
    border-radius: 3px;
    box-shadow: 1px 1px #cccccc;
    margin-bottom: 5px;
}

.osoba {
    width: 85px;
    height: 85px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 10px;
}

.email {
    margin: 5px;
    width: 200px;
    height: 25px;
    background-color: #ffffcc;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

.gumb {
    text-align: center;
    color: white;
    background-color: #0069cc;
    margin: 5px;
    width: 205px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

.link_nav {
    text-align: right;
    margin-right: 10px;
    margin-top: 0;
}

.help_link {
    font-size: 10px;
    text-decoration: none;
    color: #0069cc;
}

.create {
    background-color: none;
    text-align: center;
    text-decoration: bold;
    margin: 10px;
}

.create_link {
    font-size: 13px;
    text-decoration: none;
    color: #0069cc;
}

.natpis4 {
    background-color: none;
    text-align: center;
    font-size: 10px;
}

.slikice {
    width: 15px;
    height: 15px;
    margin: 5px;
}

.zadnji {
    line-height: 40px;
    width: 1250px;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
    position: absolute;
    bottom: 0;
}

.linkovi {
    font-size: 13px;
    text-decoration: none;
    color: #3c4043;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}